img{
       opacity: calc(0.5);
       width: 150;
}
img:hover{
    opacity: calc(1);
    transform: scale(1.2);
    transition: 1s ease;
}
h1{
    text-align: center;
}
.gallery{
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 40px;
}
.cap{
    opacity: calc(0);
    position: absolute;
    top: 167px;
    color: black;
}
.image:hover.cap{
    opacity: calc(1);
    font-size: 1.5rem;
}